Repository dream11/kong-circuit-breaker, pull requests merged in 2021-06, with the labels that each got.

#6 ci: add release automation
  .ci/scripts/bump-rockspec.sh
  .ci/scripts/upload.sh
  .github/CODEOWNERS
  .github/workflows/draft-and-bump.yml
  .github/workflows/release.yml
  docs/index.md
Labels: chore, ci

#7 docs: add usage in readme
  README.md
  docs/index.md
Labels: ci, docs, publish

#8 docs: add luarocks link to README
  README.md
  docs/index.md
Labels: ci, docs, publish

#9 docs: add to caveats
  README.md
  docs/index.md
Labels: chore, docs

#10 Change logging metrics structure
  kong/plugins/circuit-breaker/helpers.lua
Labels: chore, publish

#11 fix: lua-circuit-breaker version to 1.0.2
  kong-circuit-breaker-1.0.3-1.rockspec
Labels: fix, publish
